.footer-main__hashtag {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
}

.footer-main__developer {
  font-size: 14px;
  color: $black;
  font-weight: 400;
  line-height: 1.86;
}

.footer-main__logo {
  width: 27px;
  height: 34px;
}
