.advantages {
  background-color: $header-bg;
}

.advantages__list {
  text-align: center;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  line-height: 1.5;
  background-color: $header-bg;
  color: $white;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__wrapper {
  padding: 39px 27px 41px;

  @media (min-width: $tablet-width) {
    max-width: 256px;
    min-height: 256px;
    padding: 42px 27px 20px;
    flex-grow: 1;
  }
}

.advantages__wrapper--inner {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.advantages__item--inner {
  position: relative;
  padding: 26px 35px 29px;
  background-color: $bh-gray;
  color: $black;

  @media (min-width: $tablet-width) {
    max-width: 256px;
    height: 256px;
    align-items: center;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 34px;
  }
}

.advantages__title {
  font-size: 18px;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 1.24;
  }
}

.advantages__number {
  font-size: 14px;
}

.advantages__description {
  font-size: 14px;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    line-height: 1.5;
    padding: 22px 17px 20px 17px;
  }
}

.advantages__description--inner {
  padding-top: 16px;
}

.advantages__item--inner::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 20px;
  width: 280px;
  height: 1px;
  background-color: $gray;
  opacity: 0.1;
}

.advantages__img {
  height: 256px;
  object-fit: cover;
  object-position: center;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}
