.advantages {
  background-color: $header-bg;
}

.advantages__list {
  text-align: center;
}

.advantages__item {
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: $header-bg;
}

.advantages__item--inner {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $bh-gray;
  color: $black;
}

.advantages__title {
  font-size: 18px;
  margin-bottom: 7px;
}

.advantages__number {
  font-size: 14px;
}

.advantages__description {
  font-size: 14px;
  margin-bottom: 41px;
  padding: 0 20px;
}
