.applications {
  padding-top: 35px;
  padding-right: 30px;
  padding-left: 70px;
  padding-bottom: 11px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    padding-bottom: 34px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 20px 54px;
  }
}

.applications__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: $black;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 1.24;
    padding-bottom: 21px;
  }
}

.applications__title--housing {
  @media (min-width: $desktop-width) {
    padding-right: 40px;
  }
}

.applications__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    padding: 0 40px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 25px;
  }
}

.applications__item {
  padding-bottom: 28px;
  text-align: left;
  position: relative;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-top: 159px;
    padding-left: 9px;
    padding-right: 9px;
    max-width: 180px;
  }

  @media (min-width: $desktop-width) {
    min-width: 343px;
    padding-right: 0;
    padding-top: 99px;
    margin: 0;
    text-align: center;
  }
}

.applications__item:last-child {
  @media (min-width: $tablet-width) {
    padding-left: 11px;
    padding-right: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 40px;
    margin-right: -33px;
  }
}

.applications__item::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 37px;
  height: 36px;
  overflow: inherit;

  @media (min-width: $tablet-width) {
    background-size: inherit;
    width: 75px;
    height: 76px;
  }
}

.applications__item--housing::after {
  @include bg-img("icon-house.svg");
  position: absolute;
  left: -47px;
  top: -7px;

  @media (min-width: $tablet-width) {
    left: 50px;
    top: 60px;
  }

  @media (min-width: $desktop-width) {
    left: 117px;
    top: 0;
  }
}

.applications__item--souvenirs {
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    max-width: 195px;
    padding-right: 23px;
    padding-left: 61px;
  }
}

.applications__item--souvenirs::after {
  @include bg-img("icon-gift.svg");
  position: absolute;
  left: -44px;
  top: -8px;

  @media (min-width: $tablet-width) {
    left: 60px;
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    left: 157px;
    top: -3px;
  }
}

.applications__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.44;
  color: $light-black;

  @media (min-width: $tablet-width) {
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
  }
}

.applications__description--souvenirs {
  @media (min-width: $desktop-width) {
    padding-left: 12px;
    padding-right: 47px;
  }
}

.applications__item--food::after {
  @include bg-img("icon-burger.svg");
  position: absolute;
  left: -50px;
  top: -2px;

  @media (min-width: $tablet-width) {
    left: 52px;
    top: 62px;
  }

  @media (min-width: $desktop-width) {
    left: 117px;
    top: 2px;
  }
}

.applications__br {
  display:none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
