.contest-form {
  border-top: 1px solid $bh-gray;
  overflow: hidden;
}

.contest-form__list {
  display: flex;
  flex-direction: column;
  padding-left: 6px;
  align-items: flex-start;
}

.contest-form__list--radio,
.contest-form__list--checkbox {
  padding-left: 0;
  align-items: stretch;
}

.contest-form__block {
  padding-top: 5px;
  border: none;
  padding-bottom: 5px;
  padding-left: 11px;
  border-bottom: 1px solid $bh-gray;
}

.contest-form__block--radio {
  padding-bottom: 20px;
}

.contest-form__legend--radio {
  margin-bottom: 32px;
  padding-top: 20px;
}

.contest-form__text {
  border: none;
  padding: 10px 0;
  padding-bottom: 42px;
}

.contest-form__item {
  padding-bottom: 20px;
}

.contest-form__legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
  padding-top: 18px;
  margin-bottom: 17px;
}

.contest-form__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;
  color: $black;
  display: flex;
  align-items: center;
}

.contest-form__label--radio {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: left;
  text-transform: none;
  position: absolute;
  bottom: 12px;
  left: -23px;
}

.contest-form__input {
  height: 58px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: left;
  color: $black;
  background-color: $bh-gray;
  border: none;
  margin-left: 15px;
}

.contest-form__input:active {
  background-color: $white;
  outline: none;
  border: 4px solid $hover-gray;
}

.contest-form__input:hover {
  background-color: $hover-gray;
}

.contest-form__input--radio {
  position: absolute;
  appearance: none;
  padding: 0;
}

.contest-form__radio {
  content: "";
  position: absolute;
  bottom: -18px;
  left: -79px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: $bh-gray;
  border: 5px solid $bh-gray;
  outline: none;
  cursor: pointer;
}

.contest-form__input--radio:checked + .contest-form__radio::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 13px;
  width: 21px;
  height: 21px;
  background-color: $light-black;
  border: 3px solid $light-black;
  border-radius: 50%;
}

.contest-form__label--filter {
  position: absolute;
  left: 84px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-transform: none;
}

.contest-form__textarea {
  background-color: $bh-gray;
  color: $black;
  padding: 14px 20px;
  line-height: 1.4;
}

.contest-form__button {
  font-size: 21px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  padding-top: 18px;
  background-color: $header-bg;
}

.contest-form__list--inner {
  text-align: left;
  padding: 0 6px 12px 6px;
}

.contest-form__label--inner {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 22px;
}

.contest-form__input--inner {
  position: absolute;
  width: 220px;
  top: 34px;
  left: -35px;
  padding-right: 0;
}

.contest-form__item--inner {
  position: relative;
  padding-bottom: 77px;
}

.contest-form__item--inner::before {
  content: "";
  position: absolute;
  background-color: $ligth-gray;
  width: 60px;
  height: 58px;
  top: 34px;
  left: 223px;
}

.contest-form__item::before {
  content: "";
  position: absolute;
  background-position: center;
  display: block;
  background-size: auto;
}

.contest-form__item--phone::before {
  content: "";
  @include bg-img("icon-phone.svg");
}

.contest-form__item--email::before {
  content: "";
  @include bg-img("icon-mail.svg");
}

.contest-form__item--radio {
  position: relative;
  right: -108px;
  top: -14px;
  padding-top: 17px;
  padding-bottom: 51px;
}

.contest-form__legend--inner {
  padding-bottom: 3px;
  margin-bottom: 12px;
}

.contest-form__legend--checkbox {
  padding-bottom: 28px;
  margin-bottom: 0;
}

.contest-form__item--filter {
  position: relative;
  padding-bottom: 80px;
}

.contest-form__item--filter:last-child {
  padding-bottom: 35px;
}

.label-textarea {
  margin-bottom: 8px;
}

.contest-form__block--checkbox {
  padding-bottom: 31px;
}

.contest-form__input--checkbox {
  position: absolute;
  appearance: none;
  padding: 0;
}

.contest-form__checkbox {
  position: absolute;
  bottom: -17px;
  left: -78px;
  width: 56px;
  height: 56px;
  background-color: $bh-gray;
  border: solid 5px $bh-gray;
  border-radius: 5px;
}

.contest-form__checkbox--red-rocks {
  bottom: -17px;
}

.contest-form__input--checkbox:checked + .contest-form__checkbox::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 14px;
  width: 22px;
  height: 13px;
  border-bottom: 4px solid $black;
  border-left: 4px solid $black;
  transform: rotate(-42deg);
}

.contest-form__input--checkbox:focus + .contest-form__checkbox,
.contest-form__input--checkbox:hover + .contest-form__checkbox,
.contest-form__input--radio:focus + .contest-form__radio,
.contest-form__input--radio:hover + .contest-form__radio {
  content: "";
  width: 56px;
  height: 56px;
  background-color: $hover-gray;
  border: none;
  border-bottom: $light-black;
  border-left: $light-black;
}

.contest-form__input--checkbox:disabled + .contest-form__checkbox,
.contest-form__input--radio:disabled + .contest-form__radio {
  background-color: $disabled-gray;
  border: 5px solid $disabled-gray;
}

input::-webkit-input-placeholder {
  color: $black;
  padding-left: 19px;
}

input:-moz-placeholder {
  color: $black;
}

input:-ms-input-placeholder {
  color: $black;
}

textarea::-webkit-input-placeholder {
  color: $black;
  font-size: 18px;
  font-weight: 700;
}

textarea:-moz-placeholder {
  color: $black;
  font-size: 18px;
  font-weight: 700;
}

textarea:-ms-input-placeholder {
  color: $black;
  font-size: 18px;
  font-weight: 700;
}
