.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 20px 23px 20px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 60px 23px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 119px 23px 120px;
  }
}

.footer-main__hashtag {
  margin-right: 2px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
  line-height: 1;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
  }
}

.footer-main__link {
  position: relative;
  display: flex;
  align-items: center;
}

.footer-main__link::after {
  content: url("../img/logo-htmlacademy.svg");
  display: block;
  margin-left: 11px;
  height: 34px;
}

.footer-main__developer {
  font-size: 14px;
  color: $black;
  font-weight: 400;
  line-height: 1.86;
  text-transform: uppercase;
}

.footer-main__logo {
  font-size: 0;
}

.footer-social {
  padding-top: 38px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-social__item {
  width: 47px;
  height: 48px;
  background-color: $header-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;

  @media (min-width: $tablet-width) {
    width: 45px;
    margin-right: 7px;
  }
}

.footer-social__item:nth-child(2) {
  padding-top: 4px;
}

.footer-social__item:last-child {
  margin-right: 2px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}

.footer-social__item:hover {
  background-color: $middle-blue;
}

.footer-social__item:active {
  background-color: $dark-blue;
  color: $ligth-white;
  opacity: 0.3;
}

.footer-social__item:disabled {
  background-color: $hover-gray;
}

.footer-social__link--svg {
  text-align: center;
  align-items: center;
}
