.footer-main__hashtag {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
}

.footer-main__link {
  position: relative;
}

.footer-main__link::after {
  content: url("../img/logo-htmlacademy.svg");
  width: 27px;
  height: 34px;
}

.footer-main__developer {
  font-size: 14px;
  color: $black;
  font-weight: 400;
  line-height: 1.86;
}

.footer-main__logo {
  width: 27px;
  height: 34px;
}

.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
