.inner-page {
  @include bg-img("bg-back-mobile@1x.jpg");
  background-position: top -232px right -224px;
  background-size: auto;
  padding-top: 50px;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    @include bg-img("bg-back-mobile@2x.jpg");
    background-size: 768px auto;
    background-position: -225px -232px;
  }

  @media (min-width: $tablet-width) {
    @include bg-img("bg-back-tablet@1x.jpg");
    background-position: top -230px center;
    padding-top: 93px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        @include bg-img("bg-back-tablet@2x.jpg");
      }
  }

  @media (min-width: $desktop-width) {
    @include bg-img("bg-back-desktop@1x.jpg");
    background-position-x: 0px;
    background-position-y: -218px;
    padding-top: 100px;
    background-size: 100%;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        @include bg-img("bg-back-desktop@2x.jpg");
      }
  }
}

.inner-page__img {
  margin: 0 auto;
  padding-bottom: 67px;

  @media (min-width: $tablet-width) {
    width: 460px;
    padding-bottom: 115px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 118px;
  }
}

.inner-page__title-wrapper {
  padding: 39px 20px 28px 20px;

  @media (min-width: $tablet-width) {
    padding: 67px 160px 28px 160px;
  }

  @media (min-width: $desktop-width) {
    padding: 105px 370px 28px 370px;
  }
}

.inner-page__title-wrapper--form {
  padding-top: 39px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 67px;
    padding-bottom: 19px;
    max-width: 439px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 105px;
    padding-bottom: 28px;
    max-width: 440px;
    margin: 0 auto;
  }
}

.inner-page__title {
  font-size: 18px;
  font-weight: 700;
  color: $black;
  padding-bottom: 29px;
  line-height: 1.44;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-bottom: 25px;
  }
}

.inner-page__intro {
  font-size: 14px;
  font-weight: 400;
  color: $light-black;
  padding: 0 5px;
  line-height: 1.71;
}

.inner-page__intro--form {
  padding: 0;
}

.inner-page__header {
  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
  }
}

.inner-page__header--form {
  padding-bottom: 48px;

  @media (min-width: $tablet-width) {
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 76px;
  }
}
