.inner-page {
  background-color: $brown;
}

.inner-page__header {
  @include bg-img("bg-back-mobile@1x.jpg");
  background-position: top -232px right -224px;
  background-size: auto;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    @include bg-img("bg-back-mobile@2x.jpg");
    background-size: 768px auto;
    background-position: -225px -232px;
  }

  @media (min-width: $tablet-width) {
    @include bg-img("bg-back-tablet@1x.jpg");
    background-position: top -230px center;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      @include bg-img("bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    @include bg-img("bg-back-desktop@1x.jpg");
    background-position-x: 0;
    background-position-y: -218px;
    background-size: 100%;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      @include bg-img("bg-back-desktop@2x.jpg");
    }
  }
}

.inner-page__img {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 67px;

  @media (min-width: $tablet-width) {
    width: 460px;
    padding-top: 93px;
    padding-bottom: 115px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 122px;
  }
}

.inner-page__title-wrapper {
  background-color: $white;
  position: relative;
  padding: 39px 20px 28px 20px;

  @media (min-width: $tablet-width) {
    padding: 67px 160px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 370px 71px;
  }
}

.inner-page__title-wrapper--form {
  padding-top: 39px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding: 67px 155px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 103px 365px 25px;
  }
}

.inner-page__title {
  font-size: 18px;
  font-weight: 700;
  color: $black;
  padding-bottom: 29px;
  line-height: 1.44;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 25px;
  }
}

.inner-page__intro {
  font-size: 14px;
  font-weight: 400;
  color: $light-black;
  padding: 0 5px;
  line-height: 1.71;
}

.inner-page__intro--form {
  padding: 0;
}
