.inner-page {
  @include bg-img("bg-back-mobile@1x.jpg");
  background-position: top -232px right -224px;
  background-size: auto;
  padding-top: 50px;
}

.inner-page__img {
  margin: 0 auto;
  padding-bottom: 67px;
}

.inner-page__title-wrapper {
  padding: 37px 20px 28px 20px;
}

.inner-page__title-wrapper--form {
  padding-top: 39px;
  padding-bottom: 18px;
}

.inner-page__title {
  font-size: 18px;
  font-weight: 700;
  color: $black;
  padding-bottom: 30px;
  line-height: 1.44;
}

.inner-page__intro {
  font-size: 14px;
  font-weight: 400;
  color: $light-black;
  padding: 0 5px;
  line-height: 1.71;
}

.inner-page__intro--form {
  padding: 0;
}

// .inner-page__header {
//   padding-bottom: 48px;
// }
