.main-page {
  @include bg-img("bg-back-mobile@1x.jpg");
  background-position: top -1px right -224px;
  background-size: auto;
  padding-top: 90px;
  padding-bottom: 10px;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    @include bg-img("bg-back-mobile@2x.jpg");
    background-size: 768px auto;
    background-position: -225px 0;
  }

  @media (min-width: $tablet-width) {
    @include bg-img("bg-back-tablet@1x.jpg");
    background-position: top center;
    padding-top: 77px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      @include bg-img("bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    @include bg-img("bg-back-desktop@1x.jpg");
    background-size: 1200px auto;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      @include bg-img("bg-back-desktop@2x.jpg");
    }
  }
}

.main-page__header {
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;
  }
}

.main-page__img {
  padding-bottom: 125px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 143px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 90px;
  }
}

.main-page__title-wrapper {
  padding: 0 30px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 335px 10px;
  }
}

.triangle::before {
  content: url("../img/bg-intro-triangle-mobile.svg");
  position: absolute;
  top: -65px;
  left: 0;

  @media (min-width: $tablet-width) {
    content: url("../img/bg-intro-triangle-tablet.svg");
    top: -108px;
  }

  @media (min-width: $desktop-width) {
    content: url("../img/bg-intro-triangle-desktop.svg");
    top: -56px;
  }
}

.triangle--inner::before {
  top: -25px;

  @media (min-width: $tablet-width) {
    top: -56px;
    left: calc(50% - 384px);
  }

  @media (min-width: $desktop-width) {
    top: -53px;
    left: calc(50% - 600px);
  }
}

.main-page__title-wrapper::after {
  content: url("../img/bg-triangle.svg");
  position: absolute;
  bottom: -48px;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-page__block {
  text-align: center;
  color: $black;
}

.main-page__title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 29px;
  line-height: 1.45;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 1.19;
    padding-bottom: 31px;
  }
}

.main-page__intro {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  color: $light-black;
}
