.modal {
  display: none;
}

.modal-show {
  display: block;
  position: fixed;
  max-width: 320px;
  left: calc((100vw + 320px) / 2);
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal__container {
  padding-top: 40px;
  padding-bottom: 30px;
}

.modal__wrapper {
  background-color: $bh-gray;
  padding: 20px;
}

.modal__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.modal__text {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 30px;
}

.modal__btn {
  width: 180px;
  font-size: 18px;
  margin: 0;
  margin-top: 28px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  background-color: $header-bg;
}

.modal__btn--close {
  width: 280px;
}
