.page-main {
  position: relative;
  background-image: url("../img/bg-back-tablet@1x.jpg");
  // background-image: linear-gradient(rgb(189, 225, 247), rgb(131, 85, 47));
  background-repeat: no-repeat;
  background-position: top -30px right 0;
  background-size: 100%;
}

.page-main__logo {
  margin: 125px 0;
}

.page-main__block {
  text-align: center;
  color: $black;
}

.page-main__wrapper {
  padding: 40px 110px;
}

.page-main__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
  text-transform: uppercase;
}

.page-main__intro {
  font-size: 14px;
  font-weight: 400;
  color: $black-two;
  text-transform: uppercase;
}
