.page-catalog__blockquote {
  font-size: 14px;
  text-align: left;
  margin: 0;
}

.page-catalog__text {
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
}

.page-catalog__autor {
  font-weight: 400;
  color: $light-black;
  text-transform: initial;
}

.page-catalog__cite {
  font-weight: 400;
  font-style: normal;
  color: $light-black;
  text-transform: none;
}
