.page-header {
  max-height: 280px;
  text-align: center;
}

.page-header__wrapper {
  position: relative;
  min-height: 56px;
}

.page-header__trigger {
  display: block;
  position: absolute;
  top: 5px;
  right: 9px;
  background-size: 22px;
  width: 46px;
  height: 46px;
  background-color: $transparent;
}

.page-header__img {
  margin: 0 auto;
}
