.page-header {
  background-color: $white;
  text-align: center;
}

.page-header__wrapper {
  position: relative;
  min-height: 166px;
}

.page-header__logo {
  position: absolute;
  left: 323px;
}


.page-header__trigger {
  display: block;
  position: absolute;
  top: 51px;
  right: 80px;
  background-image: url("../img/icon-menu.svg");
  background-size: 46px;
  width: 46px;
  height: 46px;
  border: none;
  cursor: pointer;
  background-color: $transparent;
}
