.main-page {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  background-size: 100%;
}

.main-page__logo {
  width: 100%;
  height: auto;
}

.main-page__block {
  text-align: center;
  color: $black;
}

.main-page__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
  text-transform: uppercase;
}

.main-page__intro {
  font-size: 14px;
  font-weight: 400;
  color: $light-black;
  text-transform: uppercase;
}
