.sentence__wrapper {
  padding: 24px 20px 50px 20px;

  @media (min-width: $tablet-width) {
    padding: 57px 157px 58px 157px;
    text-align: center;
    text-align: -webkit-center;
  }
}

.sentence__title {
  padding-bottom: 20px;
  font-size: 21px;
  font-weight: 700;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 0.87;
  }
}

.sentence__description {
  padding-bottom: 38px;
  font-size: 14px;
  font-weight: 400;
  color: $light-black;
  line-height: 1.6;

  @media (min-width: $tablet-width) {
    line-height: 1.71;
  }
}

.sentence__link {
  font-size: 21px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  background-color: $header-bg;
}

.sentence__map {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}
