.sentence__wrapper {
  margin-bottom: 50px;
}

.sentence__title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
}

.sentence__description {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-two;
}

.sentence__link {
  font-size: 21px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  padding: 25px 45px;
  margin-top: 28px;
  background-color: $header-bg;
}

.sentence__link--map {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $transparent;
}
