.site-list {
  position: relative;
}

.site-list__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.22;
  text-transform: uppercase;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid $gray;
  box-shadow: 0 1px 0 0 $top-shadow, inset 0 1px 0 0 $bottom-shadow;
}

.site-list__toggle {
  display: block;
  position: absolute;
  top: 7px;
  right: 9px;
  background-size: 23px;
  width: 46px;
  height: 46px;
  background-color: $transparent;
}
