html {
  box-sizing: border-box;
}

body {
  min-width: $width-mobile;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: $black;
  background-color: $white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  margin: 0;
  padding: 0;
  background-color: $transparent;
  align-items: center;
  border: none;
  text-align: center;
}

.btn-style {
  width: 280px;
  height: 55px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: $header-bg;
  align-items: center;
  border: none;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}
