//цвета
$header-bg: #81b3d2;
$white: #ffffff;
$transparent: rgba(0, 0, 0, 0);
$top-shadow: rgba(1, 1, 1, 0.2);
$bottom-shadow: rgba(255, 255, 255, 0.2);
$black-two:#333333;

//размеры
$width-mobile: 320px;

//шрифты
$font-main: "PT Sans", "Arial", sans-serif;
$font-other: "Arial", sans-serif;
